<p>footer works!</p>
<section class="sugerencias">
    <h3>Envia tu idea para el proximo capitulo</h3>
    <img class="caine2" src="dos.webp" width="150" alt="Segundo personaje">
    <form (submit)="enviarFormulario($event)">
        <input type="text" name="Nombre" placeholder="Tu nombre" required>
        <input type="email" name="correo" placeholder="Tu correo" required>
        <textarea name="idea" rows="4" placeholder="Escribe tu idea aqui..." required></textarea>
        <button type="submit">Enviar</button>
    </form>

</section>